environment {
    DF_TERMINAL "alacritty"
    DF_FILE_MANAGER "nautilus"
    DF_BROWSER "firefox"
    DF_CALCULATOR "gnome-calculator"
    DF_APP_LAUNCHER "dms ipc call spotlight toggle"
    DF_SCREEN_LOCK "dms ipc call lock lock"
    DF_TASK_MENU "dms ipc call processlist focusOrToggle"
    DF_CLIPBOARD_MAN "dms ipc call clipboard toggle"
    DF_POWER_MENU "dms ipc call powermenu toggle"
    DF_VOLUME_UP "dms ipc call audio increment 3"
    DF_VOLUME_DOWN "dms ipc call audio decrement 3"
    DF_VOLUME_MUTE "dms ipc call audio mute"
    DF_MIC_MUTE "dms ipc call audio micmute"
    DF_PLAY_PAUSE "dms ipc call mpris playPause"
    DF_MEDIA_NEXT "dms ipc call mpris next"
    DF_MEDIA_PREV "dms ipc call mpris previous"
    DF_BRIGHTNESS_UP "brightnessctl set 5%+"
    DF_BRIGHTNESS_DOWN "brightnessctl set 5%-"
}
