// https://github.com/niri-wm/niri/wiki/Configuration:-Miscellaneous

prefer-no-csd
screenshot-path "~/pictures/screenshots/screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

gestures {
    hot-corners {
        off
    }
}

debug {
    honor-xdg-activation-with-invalid-serial
}
